POSTGRES_PASSWORD=<TBD>
WEEKEND_REPORT_IMAGE=weekend-report:local
WEEKEND_REPORT_APP_VERSION=<TBD>
WEEKEND_REPORT_BUILD_ID=<TBD>
WEEKEND_REPORT_CONFIG_DIR=/app/config
WEEKEND_REPORT_EVIDENCE_ROOT=/app/runs
WEEKEND_REPORT_AUTH_MODE=production
WEEKEND_REPORT_AUTH_PROVIDER=<TBD>
WEEKEND_REPORT_AUTH_TRUSTED_HEADER=<TBD>
WEEKEND_REPORT_AUTHORIZED_REVIEWERS=<TBD>
WEEKEND_REPORT_CSRF_SIGNING_KEY=<TBD>
WEEKEND_REPORT_CSRF_TTL_SECONDS=3600
PORTAINER_SITE1_URL=<TBD>
PORTAINER_SITE1_TOKEN=<TBD>
PORTAINER_SITE1_CA_FILE=<TBD>
PORTAINER_SITE2_URL=<TBD>
PORTAINER_SITE2_TOKEN=<TBD>
PORTAINER_SITE2_CA_FILE=<TBD>
